.devcontainer/
.dockerignore
.git/
.gitignore
.vscode/
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
*.egg-info/
*.egg
*.log
*.bak
*.swp
*.swo
*.tmp
*.DS_Store
*.ipynb_checkpoints
*.vscode/